/* index  */
/* * {
  outline: 1px dotted red;
  box-sizing: border-box;
} */

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: lightsteelblue;
  background-image: url(../assets/fishOpcacity.png);
}

header nav {
  width: 860px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgba(209, 66, 4, 0.851);
  box-shadow: 4px 6px 9px 0px rgba(69, 88, 113, 0.76);
  border: 1px solid #853d03bf;
}

nav h1 {
  float: left;
  margin-top: 5px;
  margin-right: 65px;
  margin-left: 50px;
  font-size: 40px;
}

ul li {
  display: inline-block;
  margin-top: 13px;
  margin-right: 50px;
  font-size: 25px;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Bangers", cursive;
  text-decoration: none;
}

ul li:nth-child(4) {
  margin-right: 0;
}

body div {
  width: 860px;
  height: 880px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 20px;
  background-color: rgba(131, 171, 223, 0.892);
  box-shadow: 4px 6px 9px 0px rgba(69, 88, 113, 0.76);
  border-radius: 5px;
  border: 1px solid rgba(120, 120, 120, 0.975);
}

main {
  border-radius: 10px;
  width: 710px;
  height: 725px;
  margin: 0 auto;
  margin-top: 40px;
  background-image: url("../assets/chinook-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d6977d;
  box-shadow: 4px 6px 9px 0px rgba(69, 88, 113, 0.76);
  border: 1px solid #853d03bf;
  color: #455871;
  font-size: 15px;
}

main section {
  width: 680px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 15px;
  margin-right: 40px;
  line-height: 1.4;
  color: #455871;
}

main article {
  margin-top: 250px;
}

article p {
  width: 700px;
  margin: 0 auto;
  margin-left: 15px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 13px;
  font-size: 15px;
  line-height: 1.2;
  color: #455871;
}

body footer {
  width: 860px;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom:40px;
  border-radius: 5px;
  background-color: rgba(209, 65, 4, 0.745);
  box-shadow: 4px 6px 9px 0px #455871c2;
  border: 1px solid #853d03bf;
}


table td,
th {
  padding: 3px;
  border-radius: 5px;
  box-shadow: 3px 4px 5px 0px rgba(133, 61, 3, 1);
}

table th {
  font-weight: bold;
}
table h1 {
  font-size: 50px;
  font-family: "Bangers", cursive;
  color: #003366;
}

a {
  font-size: 30px;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Bangers", cursive;
  color: #003366;
}

table {
  border: 8px solid #003366;
  border-radius: 5px;
  border-collapse: collapse;
  background-color: #bbda552f;
}

table td {
  font-family: Arial, Helvetica, sans-serif;
  color: #4b2858;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
}
table th {
  padding-left: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  color: #0f1c36;
  border-radius: 5px;
}

#saleTable {
  margin-right: 14px;
  margin-left: 14px;
  background-color: rgba(145, 181, 227, 0.831);
}

section form {
  margin: 0 auto;
}

form {
  border: 8px solid #003366;
  border-radius: 5px;
  background-color: rgba(163, 183, 190, 0.906);
  box-shadow: 3px 4px 5px 0px rgba(133, 61, 3, 1);
  color: purple;
  font-family: "Anton", sans-serif;
  width: 685px;
  height: 150px;
}

fieldset {
  border: solid 2px #003366;
  margin-left: 20px
}

input {
  box-shadow: 0px 2px 5px 1px rgba(133, 61, 3, 1);
  border: 1px solid #853d03bf;
  background-color: lightblue;
  background-color: #d6977d;
  margin:5px
}

input:focus {
  background-color: lightblue;
}

td {
  border: 1px solid black;
}

th {
  border: 1px solid black;
}
